SECRET_KEY=change-me-to-something-random
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# --- For Manual Running ---
DATABASE_URL=mysql://root:password123@localhost:3306/job_tracker_db
REDIS_URL=redis://127.0.0.1:6379/1
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# --- Shared Credentials (used by Docker Compose) ---
DB_USER=root
DB_PASSWORD=password123
DB_NAME=job_tracker_db